<div class="container">
  <div class="row mt-5">
    <h3><%= session[:data]["email"] %> </h3>
    <%= button_to "Logout", logout_path, class:"btn btn-danger" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= form_with url: "/create_todo", method: :post do |f| %>
      <div class="form-control">
        <%= f.text_field :title, placeholder:"Todo title...", style:"width: 100%" %>
      </div>
      <div class="form-control">
        <%= f.submit "Create Todo", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @todos.each do |todo| %>
      <div class="col-8 offset-2">
        <h3><%= todo.title %></h3>
      </div>
      <h6><%= todo.author unless todo.author.nil? %></h6>
    <% end %>
  </div>
</div>
